.stand {
    background-color: lightgray;
}

.domino {
    background-image: url(../img/doble_blanco.gif);
    background-size: cover;
    margin-left: 1px;
    float: left;
}

.back {
    background-image: url(../img/domino_back_1.png);
    width: 50px;
    height: 100px;
}

.number {
    padding: 10px;
    width: 30px;
}
