.horizontal {
    width: 510px;
    height: 100px;
    margin: auto;
}

.left {
    float: left;
}

.vertical {
    height: 510px;
    width: 100px;
    margin: auto;
}

.domino {
    background-image: url(../img/doble_blanco.gif);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 1px;
    float: left;
}

.back {
    background-image: url(../img/domino_back.png);
    width: 50px;
    height: 100px;
}

.vertical .back {
    background-image: url(../img/domino_back_hor.png);
    height: 50px;
    width: 100px;
}

.number {
    padding: 10px;
    width: 30px;
}

.bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
}
