!!! 5
html
    head(lang='en')
        meta(charset='utf-8')
        title double9
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='Dominoes Domino Game')
        meta(name='author', content='limadelic')

        script(src='js/jquery.min.js')
        != js('test')
body
    block content
