extends layout

block content
    .row
        .stand.span8.offset2
            .row
                for number in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
                    .piece.span1
                        .piece_value
                            img(src="img/#{number}.gif")
                        .piece_value
                            img(src="img/1.gif")
    .row
        .stand.span2
            p player 4
        .span8
            p game
        .stand.span2
            p player 2
    .row
        .stand.span8.offset2
            .row
                for number in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
                    .piece.span1
                        .piece_value
                            img(src="img/#{number}.gif")
                        .piece_value
                            img(src="img/3.gif")

    script(src='coffee/test.coffee', type='text/coffeescript')

