extends layout

block content

    table
        tr
            td.vertical
                #left.dominoes
            td.main
            td.vertical
                #right.dominoes

    .horizontal.top
        #front.dominoes

    .horizontal.bottom
        #player.dominoes
