extends layout

block content

  table
    tr
      td.vertical
        #left.dominoes
      td#table.main.dominoes
      td.vertical
        #right.dominoes

  .horizontal.top
    #front.dominoes

  .horizontal.bottom
    #player.dominoes
