extends layout

block content
    table
        tr
            td.vertical
                .dominoes
                    for number in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
                        .domino.back
            td.main
            td.vertical
                .dominoes
                    for number in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
                        .domino.back

    .horizontal.top
        .dominoes
            for number in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
                .domino.back

    .horizontal.bottom
        .dominoes.player
            for number in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
                .domino
                    .number
                        img(src="img/#{number}.gif")
                    .number
                        img(src="img/#{number}.gif")
