extends layout

block content
    .row
        .stand.span8.offset2
            img(src="img/doble_blanco.gif")
    .row
        .stand.span2
            p player 4
        .span8
            p game
        .stand.span2
            p player 2
    .row
        .stand.span8.offset2
            p player 3

    script(src='coffee/test.coffee', type='text/coffeescript')

