!!! 5
html
    head(lang='en')
        meta(charset='utf-8')
        title double9 specs
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='Dominoes Domino Game')
        meta(name='author', content='limadelic')
        link(href='/css/mocha.css', rel='stylesheet')

        script(src='/js/mocha.js')
        script(src='/js/chai.js')
        script
            mocha.setup('bdd')
        script(src='/js/require.js', data-main='/js/test')

body
    #mocha
