<%
    if (name === 'player') {
%>
        <button type="button" id="pass" style="float: left;">pass</button>
        <br/>
<% } %>

<%

    _.each(dominoes, function(domino){

        var x = domino[0],
            y = domino[1];

        if (_.contains(['player', 'table'], name)) {
%>


            <div class="domino">
                <div class="number">
                    <a href="/#play/<%= x %><%= y %>">
                        <img src="/img/<%= x %>.gif"/>
                    </a>
                </div>
                <div class="number">
                    <a href="/#play/<%= y %><%= x %>">
                        <img src="/img/<%= y %>.gif"/>
                    </a>
                </div>
            </div>

<%
        } else {
%>

            <div class="domino back" ></div>

<%
        }
    })
%>
