<%
    var x, y,
        row = 0,
        edge = 0,
        float = 'left';

    var swap = function() {
        var z = x;
        x = y;
        y = z;
    }

    _.each(dominoes, function(domino){

        x = domino[0];
        y = domino[1];
        if (float === 'right') { swap(); }

        var type = 'default',
            style = '',
            d_width = 100;

        if (x === y) {
            type = 'double';
            d_width = 50;
        }

        if (row > 0 && edge === 0) {
            type = 'double up';
            d_width = 50;
            float = float === 'left' ? 'right' : 'left';
            %><br /><%
            if (float === 'left') { swap(); }
        }

        if (width - (edge + d_width) < 50) {

            type = 'double down';
            edge = 0;
            row++;
            if (float === 'right') { swap(); }

        } else {
            edge += d_width;
        }

%>

        <div class="domino <%=float%> <%=type%>">
            <div class="number">
                <img src="/img/<%= x %>.gif"/>
            </div>
            <div class="number">
                <img src="/img/<%= y %>.gif"/>
            </div>
        </div>

<%
    })
%>
